<!DOCTYPE html>
<html>
<head>
    <title>URL Shortener</title>
    <link rel="icon" href="data:,">

</head>

<body>
    <h1>URL Shortener</h1>

    <form id="shorten-form">
        <input type="url" id="full-url" placeholder="Enter URL here" required>
        <button type="submit">Shorten</button>
    </form>

    <ul id="url-list"></ul>

    <script src="/app.js" defer></script>
</body>
</html>
